.fun1{
    font-size: 20px;
    color: aqua;
    font-family: "HG正楷書体-PRO";
}

.fun2{
    font-size: 20px;
    color: darksalmon;
    font-family: "UD デジタル 教科書体 NK-B";
}

.fun3{
    font-size: 20px;
    color: darkolivegreen;
    font-family: "HG創英角ﾎﾟｯﾌﾟ体";
}

.fun4{
    font-size: 20px;
    color: cadetblue;
    font-family: "HGP創英ﾌﾟﾚｾﾞﾝｽEB";
}